.quali-text{
 font-size: 20px;
 top: 10px;
}

.qualifications-container{
 position: absolute;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 height: 80%;
 width: 90%;
 overflow-x: scroll;
 overflow-y: hidden;
 margin-top: 15px;
 user-select: none;
}

.qualifications-container .qualification{
 position: relative;
 height: 550px;
 min-width: 40%;
 background: rgb(9, 6, 31);
 border-radius: 20px;
 margin: 0 20px 0 0;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
}

.qualifications-container .qualification .content{
 height: 85%;
 width: 90%;
 border-radius: 15px;
 margin-top: 20px;
 background-size: contain;
 background-position: center;
}

.qualifications-container .qualification h1{
 font-size: 20px;
 text-transform: uppercase;
 margin-top: 20px;
}

.qualifications-container .qualification .content.html{
 background: url(../props/html.png);
 background-position: center;
 background-size: 60px;
}

.qualifications-container .qualification .content.css{
 background: url(../props/css.png);
 background-position: center;
 background-size: 60px;
}

.qualifications-container .qualification .content.javascript{
 background: url(../props/js.png);
 background-position: center;
 background-size: 90px;
}

.qualifications-container .qualification .content.bootstrap{
 background: url(../props/bootstrap.png);
 background-position: center;
 background-size: 60px;
}

.qualifications-container .qualification .content.react{
 background: url(../props/react.jpg);
 background-position: center;
 background-size: 60px;
}

.qualifications-container .qualification .content.angular{
 background: url(../props/angular.png);
 background-position: center;
 background-size: 60px;
}

.qualifications-container .qualification .content.php{
 background: url(../props/php.png);
 background-position: center;
 background-size: 60px;
}

.qualifications-container .qualification .content.nodejs{
 background: url(../props/nodejs.png);
 background-position: center;
 background-size: 60px;
}