.member-txt{
 font-size: 20px;
 top: 10px;
 font-weight: 100;
}

.members-container{
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 min-height: 100vh;
 margin-top: 100px;
}

.members-container .member{
 position: relative;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 width: 100%;
 margin-top: 15px;
 margin-bottom: 50px;
 background-color: rgba(0, 0, 0, 0.014);
 padding: 20px;
 border-radius: 50px;
}

.members-container .member .member-img1{
 height: 300px;
 width: 300px;
 border-radius: 40px;
 background: url(../props/todo3.png);
 background-size: cover;
 background-position: center;
 border: 2px solid var(--color-sec-light);
}
.members-container .member .member-img2{
 height: 300px;
 width: 300px;
 border-radius: 40px;
 background: url(../props/res1.jpg);
 background-size: cover;
 background-position: center;
 border: 2px solid var(--color-sec-light);
}

.members-container .member .member-img3{
 height: 300px;
 width: 300px;
 border-radius: 40px;
 background: url(../props/todo4.png);
 background-size: cover;
 background-position: center;
 border: 2px solid var(--color-sec-light);
}
.members-container .member .member-info{
 margin-left: 50px;
 font-family: 'Open Sans Condensed';
 max-width: 50%;
}

.members-container .member .member-info .name{
 font-size: 40px;
 font-weight: 500;
 letter-spacing: 2px;
}

.members-container .member .member-info .position{
 font-size: 14px;
 font-weight: 400;
 letter-spacing: 2px;
}

.members-container .member .member-info .about{
 font-size: 16px;
 font-weight: 100;
 letter-spacing: 17px;
}

.members-container .member .member-info .contact-member {
 background: var(--color-sec-light);
 padding: 17px 35px;
 font-size: 18px;
 margin-top: 50px;
 border-radius: 50px;
 position: absolute;
 transition: .1s ease;
}

.members-container .member .member-info .contact-member span{
 text-transform: capitalize;
}

.members-container .member .member-info .contact-member:hover {
 background: transparent;
 border: 2px solid var(--color-sec-light);
} 